[project]
	description = This repo contains blueprint examples in order to run against Aria CLI
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/piggie-hou
[access "refs/for/refs/*"]
	read = group user/piggie-hou
	push = group user/piggie-hou
	label-Code-Review = -2..+2 group user/piggie-hou
	label-Verified = -1..+1 group user/piggie-hou
	rebase = group user/piggie-hou
	removeReviewer = group user/piggie-hou
	submit = group user/piggie-hou
[access "refs/heads/*"]
	read = group user/piggie-hou
	create = group user/piggie-hou
	push = +force group user/piggie-hou
	pushMerge = group user/piggie-hou
[access "refs/tags/*"]
	push = +force group user/piggie-hou
	pushTag = group user/piggie-hou
	pushSignedTag = group user/piggie-hou
