####################################################
# OpenStack
####################################################

keystone_username: ''
keystone_password: ''
region: ''
keystone_tenant_name: ''
keystone_url: ''
nova_url: ''
neutron_url: ''
openstack_image_id: ''
openstack_flavor_id: ''
network_name: ''
subnet_name: ''
application_port_name: ''
database_port_name: ''
router_name: ''
external_network_name: ''

####################################################
# AWS
####################################################

aws_access_key_id: ''
aws_secret_access_key: ''
ec2_region_name: ''
aws_image_id: ''
aws_instance_type: ''

####################################################
# SSH CLIENT CONFIGURATION
####################################################

agent_user: ''
keypair_name: ''
local_path: ''
